# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Sphinx documentation
docs/_build/
python/docs/_build

# virtualenv
.venv
venv/
ENV/

# Java
*.class

# Atom
*.tags
*.tags_swap

# Caches
*.cache
*.mypy_cache
*.pytest_cache

# Python build
**/python/build
**/python/dist
**/python/*.egg-info

# Dependencies
**/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Build
**/build
**/dist

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea
.vscode